body {
    background-image: url('./images/bckg.jpg');
    background-size: cover;
    margin: 0 auto;
}

#form-menu {
    max-height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    background: #f7e9e0b6;
    box-shadow: 0 0 20px #adb3a9;
    z-index: 9999;
}
.notice{
    font-size: 11px;
    font-weight: bold;
    color: #001970;
    margin: 0;
}
form {
    max-height: fit-content;
    text-align: center;
}


form input, form select, form option, select, button {
    margin: 1vh;
}

form, form input, form option, select {
    font-size: 16pt;
}

form h2, form, form input, form option, select, button, textarea {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    color: #000000e8;
    font-weight: bold;
}
