html{
    background-color:#fceefa;
    font-family: "Mac";
    letter-spacing: 1px;
    color: #272931;
}
body{
    text-align: center;
}

#messages{
    border: 2px solid rgb(67, 53, 120);
    font-family: "Mac";
    letter-spacing: 1px;
    color: #272931;
    padding: 2px;
}

.error_messages{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    border-style: double;
    border-radius: 15px;
    border-width: 5px;
    border-color: #6f4d9f;
    background-color: #a4afdb;
}

.login_messages{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    border-style: dotted;
    border-radius: 15px;
    border-width: 5px;
    border-color: #be8b5b;
    background-color: #eccaa6;
}

.admin_ref{
    margin: 5px;
    text-align:center;
    color: #272931;
}

.application{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    max-height: fit-content;
    text-align: center;
    background: linear-gradient(
        137.09deg,
        #bad1ffbc 2.19%,
        #9b99ebc0 51.57%,
        #a597dbb1 97.86%
    );
    border-radius: 15px;
    border-style:double;
    border-width: 4px;
    border-color: #6f4d9f;
    accent-color:  #997bde;
}

form label{
    margin: 2vh;
}
form input, form select, form option, select, button, textarea{
    border-radius: 10px;
    margin: 2vh;
    border-color: rgb(49, 41, 108);
    border-style: inherit;
}
form, form input, form option, select, form textarea{
    font-size: 16pt;
}
form h2, form, form input, form option, select, button, textarea{
    font-family: "Mac";
    letter-spacing: 1px;
    color: #272931;
    
}

select{
    scrollbar-width: thin;
}

.numtext{
    font-size: 12px;
    text-decoration: underline;
}

.error {
    border: 3px solid rgb(206, 86, 122);
    background-color: #febbcb;
  }
  .login_error_message {
    border: 3px solid rgb(184, 118, 60);
    background-color: #ffefb0;
  }

.logout_form{
    max-width: 20%;
    margin-left: auto;
    margin-right:0%;
    align-content:end;
    max-height: fit-content;
    text-align: end;
}


.login_form{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    max-height: fit-content;
    text-align: center;
    background: linear-gradient(
        137.09deg,
        #febaffd6 2.19%,
        #f8b6e6dc 51.57%,
        #ffe3fcb4 97.86%
    );
    border-radius: 15px;
    border-style:double;
    border-width: 4px;
    border-color: #b25e85;
    accent-color:  #997bde;
}

.login_form input{
    border: #b25e85;
}

.logout_form input, .login_button{
    text-align: center;
    background: linear-gradient(
        137.09deg,
        #bad1ffbc 2.19%,
        #9b99ebc0 51.57%,
        #a597dbb1 97.86%
    );
    border-radius: 15px;
    border-style: double;
    border-width: 4px;
    border-color: #6f4d9f;
}

@font-face {
    font-family: "Mac";
    src: url("Kanit-Cyrillic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}