html{
    background-color:rgb(244, 244, 252);
    font-family: "Mac";
    background-image: url('../images/bckg.jpg');
    background-size: cover;
}

body{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-left:auto;
    padding-right: auto;
}

table{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #1b9e14;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-style: ridge;
    border-spacing: 1px;
}
thead{
    text-align: center;
    font-weight: 600;
    border-width: 4px;
    border-spacing: 5px;
}

thead td{
    background-color: #cb7134;;
    margin-left: 5px;
    padding: 10px;
    color:rgb(0, 0, 0);
}
tbody{
    background-color: #84a352;
    margin:-1px;
}
tbody td{
    background-color: #84a352;
    text-align: center;
    padding: 10px;
    color:rgb(47, 46, 66);
}

.buttons{
    padding:2px;
    text-align: center;
}
.delete_button{
    background-color: #e13815;
    border-radius: 3px;
    color: rgb(134, 52, 63);
    margin: 1px;
    font-family: "Mac";
    padding: 3px;
}
.change_button{
    padding: 3px;
    background-color: #ade912;
    color: rgb(44, 105, 50);
    margin: 1px;
    font-family: "Mac";
}

.message{
    border: 3px outset rgb(92, 171, 84);
    border-radius: 3px;
    background-color: #ade912;
    color: rgb(44, 105, 50);
    margin: 1px;
}

@font-face {
    font-family: "Mac";
    src: url("Kanit-Cyrillic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}